# Aritzia Data Case Assessment 
---

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

print("load imports")

load imports

In [2]:
# load the data 
transactions = pd.read_excel("REF Case Assessment - Data Visualization Engineer Data.xlsx", sheet_name="Transactions")
articles = pd.read_excel("REF Case Assessment - Data Visualization Engineer Data.xlsx", sheet_name="Article Master")
standards = pd.read_excel("REF Case Assessment - Data Visualization Engineer Data.xlsx", sheet_name="Packing Time Standards")

print("trasaction shape: ", transactions.shape)
print("articles shape: ", articles.shape)
print("standards shape: ", standards.shape)

trasaction shape:  (3747, 23)
articles shape:  (359, 2)
standards shape:  (1, 25)

## Exploratory Data Analysis
---

### Transactions

In [3]:
transactions.head()

,TRANSACTION_ID,WAREHOUSE_ID,TRANSACTION_TIMESTAMP,DATE,HOUR,ORDER_TYPE,ORDER_TYPE_CATEGORY,ORDER_CHANNEL,USER_ID,ACTION_CODE,...,DEVICE_CODE,SHIP_LINE_ID,GIFT_FLAG,FROM_AREA_CODE,TO_AREA_CODE,FROM_STORAGE_LOCATION,TO_STORAGE_LOCATION,ORDER_CATEGORY,INVENTORY_DETAIL_NUMBER,QUANTITY
0,00006XB1YO,DC01,2021-11-02 08:08:21,2021-11-02,8,E03,ECOMM CA,ECOMMERCE,USER1,LSTPCK,...,7,SLN00EYGRP,0,PICK,RDTS000001,31-04-04-01,7,eComm Canada,D000000FFLR3,1
1,00006XBDUP,DC01,2021-11-02 08:35:51,2021-11-02,8,E03,ECOMM CA,ECOMMERCE,USER2,LSTPCK,...,67,SLN00EYAPJ,0,PICK,RDTS000001,69-07-02-02,67,eComm Canada,D000000FG9V3,1
2,00006XBF7O,DC01,2021-11-02 08:41:32,2021-11-02,8,SR,REPLEN,RETAIL,USER3,LSTPCK,...,12,SLN00EYFK9,0,PICK,RDTS000001,75-20-02-03,12,Replenishment,D000000FG9YV,1
3,00006XBD97,DC01,2021-11-02 08:32:10,2021-11-02,8,E03,ECOMM CA,ECOMMERCE,USER4,ASSUMEDPCK,...,50,SLN00EYH15,0,PICK,RDTS000001,56-15-03-03,50,eComm Canada,D000000FG9T8,1
4,00006XBCB6,DC01,2021-11-02 08:24:57,2021-11-02,8,SR,REPLEN,RETAIL,USER5,LSTPCK,...,35,SLN00EXO7V,0,PICK,RDTS000001,23-19-02-02,35,Replenishment,D000000FG9NO,5

In [4]:
transactions["ACTION_CODE"].unique()

array(['LSTPCK', 'ASSUMEDPCK', 'PKOCLOSE', 'IDNTFY', 'MANFST',
       'INVSTSCHG'], dtype=object)

In [5]:
transactions.describe()

,TRANSACTION_TIMESTAMP,DATE,HOUR,ORDER_NUMBER,ORDER_LINE_ITEM
count,3747,3747,3747.0,3.747000e+03,3747.000000
mean,2021-11-02 08:29:45.965038848,2021-11-02 00:00:00,8.0,1.579563e+08,926.005338
min,2021-11-02 08:00:04,2021-11-02 00:00:00,8.0,8.254480e+07,1.000000
25%,2021-11-02 08:12:56,2021-11-02 00:00:00,8.0,8.261458e+07,2.000000
50%,2021-11-02 08:28:19,2021-11-02 00:00:00,8.0,8.261459e+07,340.000000
75%,2021-11-02 08:46:52,2021-11-02 00:00:00,8.0,2.628931e+08,1620.000000
max,2021-11-02 08:59:58,2021-11-02 00:00:00,8.0,2.630143e+08,4310.000000
std,NaN,NaN,0.0,8.892821e+07,1170.263202

In [6]:
transactions.info()
transactions.isnull().sum()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3747 entries, 0 to 3746
Data columns (total 23 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRANSACTION_ID           3747 non-null   object
 1   WAREHOUSE_ID             3747 non-null   object
 2   TRANSACTION_TIMESTAMP    3747 non-null   datetime64[ns]
 3   DATE                     3747 non-null   datetime64[ns]
 4   HOUR                     3747 non-null   int64
 5   ORDER_TYPE               3747 non-null   object
 6   ORDER_TYPE_CATEGORY      3747 non-null   object
 7   ORDER_CHANNEL            3747 non-null   object
 8   USER_ID                  3747 non-null   object
 9   ACTION_CODE              3747 non-null   object
 10  ORDER_NUMBER             3747 non-null   int64
 11  ORDER_LINE_ITEM          3747 non-null   int64
 12  ARTICLE                  3747 non-null   object
 13  DEVICE_CODE              3747 non-null   object
 14  SHIP_LINE_ID             3747 non-null   object
 15  GIFT_FLAG                3747 non-null   object
 16  FROM_AREA_CODE           3747 non-null   object
 17  TO_AREA_CODE             3747 non-null   object
 18  FROM_STORAGE_LOCATION    3747 non-null   object
 19  TO_STORAGE_LOCATION      3747 non-null   object
 20  ORDER_CATEGORY           3747 non-null   object
 21  INVENTORY_DETAIL_NUMBER  3747 non-null   object
 22  QUANTITY                 3747 non-null   object
dtypes: datetime64[ns](2), int64(3), object(18)
memory usage: 673.4+ KB

TRANSACTION_ID             0
WAREHOUSE_ID               0
TRANSACTION_TIMESTAMP      0
DATE                       0
HOUR                       0
ORDER_TYPE                 0
ORDER_TYPE_CATEGORY        0
ORDER_CHANNEL              0
USER_ID                    0
ACTION_CODE                0
ORDER_NUMBER               0
ORDER_LINE_ITEM            0
ARTICLE                    0
DEVICE_CODE                0
SHIP_LINE_ID               0
GIFT_FLAG                  0
FROM_AREA_CODE             0
TO_AREA_CODE               0
FROM_STORAGE_LOCATION      0
TO_STORAGE_LOCATION        0
ORDER_CATEGORY             0
INVENTORY_DETAIL_NUMBER    0
QUANTITY                   0
dtype: int64

### Articles

In [7]:
articles.head()

   MATERIAL DEPARTMENT
0  31352005       Pant
1  54636002   Neckwear
2  54636051   Neckwear
3  56641182    Sweater
4  57814001    T-shirt

In [8]:
articles.describe()

           MATERIAL
count  3.590000e+02
mean   8.266147e+07
std    9.532238e+06
min    3.135200e+07
25%    7.916055e+07
50%    8.237902e+07
75%    9.107452e+07
max    9.641601e+07

### Standards

In [9]:
standards.head()

,BASICMOVE_STANDARD,BASICPROC_STANDARD,BASICSCAN_STANDARD,BASICWRAP_STANDARD,BASICPACK_STANDARD,BELT_STANDARD,BLOUSE_STANDARD,COAT_STANDARD,DRESS_STANDARD,FOOTWEAR_STANDARD,...,SKIRT_STANDARD,SWEATER_STANDARD,TSHIRT_STANDARD,UNDERWEAR_STANDARD,BAG_STANDARD,GIFTITEM_STANDARD,HANDWEAR_STANDARD,SMALLGOOD_STANDARD,JEWELRY_STANDARD,SWIMWEAR_STANDARD
0,13.76,9.12,11.56,17.7,35.2,24.86,27.58,43.21,19.71,7.76,...,19.95,30.02,23.83,11.07,26.7,15.76,10.19,8.19,8.76,3

In [10]:
standards.describe()

,BASICMOVE_STANDARD,BASICPROC_STANDARD,BASICSCAN_STANDARD,BASICWRAP_STANDARD,BASICPACK_STANDARD,BELT_STANDARD,BLOUSE_STANDARD,COAT_STANDARD,DRESS_STANDARD,FOOTWEAR_STANDARD,...,SKIRT_STANDARD,SWEATER_STANDARD,TSHIRT_STANDARD,UNDERWEAR_STANDARD,BAG_STANDARD,GIFTITEM_STANDARD,HANDWEAR_STANDARD,SMALLGOOD_STANDARD,JEWELRY_STANDARD,SWIMWEAR_STANDARD
count,1.00,1.00,1.00,1.0,1.0,1.00,1.00,1.00,1.00,1.00,...,1.00,1.00,1.00,1.00,1.0,1.00,1.00,1.00,1.00,1.0
mean,13.76,9.12,11.56,17.7,35.2,24.86,27.58,43.21,19.71,7.76,...,19.95,30.02,23.83,11.07,26.7,15.76,10.19,8.19,8.76,3.0
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,13.76,9.12,11.56,17.7,35.2,24.86,27.58,43.21,19.71,7.76,...,19.95,30.02,23.83,11.07,26.7,15.76,10.19,8.19,8.76,3.0
25%,13.76,9.12,11.56,17.7,35.2,24.86,27.58,43.21,19.71,7.76,...,19.95,30.02,23.83,11.07,26.7,15.76,10.19,8.19,8.76,3.0
50%,13.76,9.12,11.56,17.7,35.2,24.86,27.58,43.21,19.71,7.76,...,19.95,30.02,23.83,11.07,26.7,15.76,10.19,8.19,8.76,3.0
75%,13.76,9.12,11.56,17.7,35.2,24.86,27.58,43.21,19.71,7.76,...,19.95,30.02,23.83,11.07,26.7,15.76,10.19,8.19,8.76,3.0
max,13.76,9.12,11.56,17.7,35.2,24.86,27.58,43.21,19.71,7.76,...,19.95,30.02,23.83,11.07,26.7,15.76,10.19,8.19,8.76,3.0

## Calulate Transaction Duration 
---
Packing transactions are of type `PKOCLOSE`. This suggests that the timestamp recorded marks the end of the packing task. Under this assumption, the duration taken for packing will be calculated using the timestamp of the employees previous action.

#### End (PKOCLOSE)−Start (Previous Event)

In [11]:
transactions_copy = transactions.copy()
transactions_copy.head()

,TRANSACTION_ID,WAREHOUSE_ID,TRANSACTION_TIMESTAMP,DATE,HOUR,ORDER_TYPE,ORDER_TYPE_CATEGORY,ORDER_CHANNEL,USER_ID,ACTION_CODE,...,DEVICE_CODE,SHIP_LINE_ID,GIFT_FLAG,FROM_AREA_CODE,TO_AREA_CODE,FROM_STORAGE_LOCATION,TO_STORAGE_LOCATION,ORDER_CATEGORY,INVENTORY_DETAIL_NUMBER,QUANTITY
0,00006XB1YO,DC01,2021-11-02 08:08:21,2021-11-02,8,E03,ECOMM CA,ECOMMERCE,USER1,LSTPCK,...,7,SLN00EYGRP,0,PICK,RDTS000001,31-04-04-01,7,eComm Canada,D000000FFLR3,1
1,00006XBDUP,DC01,2021-11-02 08:35:51,2021-11-02,8,E03,ECOMM CA,ECOMMERCE,USER2,LSTPCK,...,67,SLN00EYAPJ,0,PICK,RDTS000001,69-07-02-02,67,eComm Canada,D000000FG9V3,1
2,00006XBF7O,DC01,2021-11-02 08:41:32,2021-11-02,8,SR,REPLEN,RETAIL,USER3,LSTPCK,...,12,SLN00EYFK9,0,PICK,RDTS000001,75-20-02-03,12,Replenishment,D000000FG9YV,1
3,00006XBD97,DC01,2021-11-02 08:32:10,2021-11-02,8,E03,ECOMM CA,ECOMMERCE,USER4,ASSUMEDPCK,...,50,SLN00EYH15,0,PICK,RDTS000001,56-15-03-03,50,eComm Canada,D000000FG9T8,1
4,00006XBCB6,DC01,2021-11-02 08:24:57,2021-11-02,8,SR,REPLEN,RETAIL,USER5,LSTPCK,...,35,SLN00EXO7V,0,PICK,RDTS000001,23-19-02-02,35,Replenishment,D000000FG9NO,5

In [12]:
transactions_copy.sort_values(by=["USER_ID", "TRANSACTION_TIMESTAMP"], inplace=True)
transactions_copy["PREV_TIMESTAMP"] = transactions_copy.groupby("USER_ID")["TRANSACTION_TIMESTAMP"].shift(1)
transactions_copy["ACTUAL_TIME"] = (transactions_copy["TRANSACTION_TIMESTAMP"] - transactions_copy["PREV_TIMESTAMP"]).dt.total_seconds()

transactions_copy[["USER_ID", "ACTION_CODE", "PREV_TIMESTAMP", "TRANSACTION_TIMESTAMP", "ACTUAL_TIME"]].head()

,USER_ID,ACTION_CODE,PREV_TIMESTAMP,TRANSACTION_TIMESTAMP,ACTUAL_TIME
324,USER1,LSTPCK,NaT,2021-11-02 08:00:13,NaN
3156,USER1,ASSUMEDPCK,2021-11-02 08:00:13,2021-11-02 08:00:13,0.0
655,USER1,ASSUMEDPCK,2021-11-02 08:00:13,2021-11-02 08:01:06,53.0
3396,USER1,LSTPCK,2021-11-02 08:01:06,2021-11-02 08:01:06,0.0
891,USER1,LSTPCK,2021-11-02 08:01:06,2021-11-02 08:02:11,65.0

## Clean and Merge Data
---

In [13]:
# Filter for PKOCLOSE in transaction data (end time of packing)
pkoclose = transactions_copy[transactions_copy["ACTION_CODE"] == "PKOCLOSE"].copy()
pkoclose

,TRANSACTION_ID,WAREHOUSE_ID,TRANSACTION_TIMESTAMP,DATE,HOUR,ORDER_TYPE,ORDER_TYPE_CATEGORY,ORDER_CHANNEL,USER_ID,ACTION_CODE,...,GIFT_FLAG,FROM_AREA_CODE,TO_AREA_CODE,FROM_STORAGE_LOCATION,TO_STORAGE_LOCATION,ORDER_CATEGORY,INVENTORY_DETAIL_NUMBER,QUANTITY,PREV_TIMESTAMP,ACTUAL_TIME
2739,00006XB1Z6,DC01,2021-11-02 08:08:36,2021-11-02,8,E03,ECOMM CA,ECOMMERCE,USER13,PKOCLOSE,...,0,WRKS,PACK,STNPACK-044,STNPACK-044-STG,eComm Canada,D000000FG6VW,1,NaT,NaN
3374,00006XB1Z5,DC01,2021-11-02 08:08:36,2021-11-02,8,E03,ECOMM CA,ECOMMERCE,USER13,PKOCLOSE,...,0,WRKS,PACK,STNPACK-044,STNPACK-044-STG,eComm Canada,D000000FG6AV,1,2021-11-02 08:08:36,0.0
645,00006XB2AV,DC01,2021-11-02 08:11:30,2021-11-02,8,E07,ECOMM US,ECOMMERCE,USER13,PKOCLOSE,...,0,WRKS,PACK,STNPACK-044,STNPACK-044-STG,eComm USA S321,D000000FG6KB,1,2021-11-02 08:08:36,174.0
2553,00006XB2AU,DC01,2021-11-02 08:11:30,2021-11-02,8,E07,ECOMM US,ECOMMERCE,USER13,PKOCLOSE,...,0,WRKS,PACK,STNPACK-044,STNPACK-044-STG,eComm USA S321,D000000FG6Y9,1,2021-11-02 08:11:30,0.0
2572,00006XB2AT,DC01,2021-11-02 08:11:30,2021-11-02,8,E07,ECOMM US,ECOMMERCE,USER13,PKOCLOSE,...,0,WRKS,PACK,STNPACK-044,STNPACK-044-STG,eComm USA S321,D000000FG6A5,1,2021-11-02 08:11:30,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
347,00006XBKGT,DC01,2021-11-02 08:55:44,2021-11-02,8,E07,ECOMM US,ECOMMERCE,USER8,PKOCLOSE,...,0,WRKS,PACK,STNPACK-027,STNPACK-027-STG,eComm USA S321,D000000FG681,1,2021-11-02 08:54:17,87.0
3593,00006XBKGS,DC01,2021-11-02 08:55:44,2021-11-02,8,E07,ECOMM US,ECOMMERCE,USER8,PKOCLOSE,...,0,WRKS,PACK,STNPACK-027,STNPACK-027-STG,eComm USA S321,D000000FG6R0,1,2021-11-02 08:55:44,0.0
1097,00006XBKLW,DC01,2021-11-02 08:57:16,2021-11-02,8,E05,ECOMM US,ECOMMERCE,USER8,PKOCLOSE,...,0,WRKS,PACK,STNPACK-027,STNPACK-027-STG,eComm USA S321,D000000FG7DQ,1,2021-11-02 08:55:44,92.0
1634,00006XBKQZ,DC01,2021-11-02 08:58:11,2021-11-02,8,E05,ECOMM US,ECOMMERCE,USER8,PKOCLOSE,...,0,WRKS,PACK,STNPACK-027,STNPACK-027-STG,eComm USA S321,D000000FG7B2,1,2021-11-02 08:58:11,0.0
1528,00006XBKXI,DC01,2021-11-02 08:58:55,2021-11-02,8,E05,ECOMM US,ECOMMERCE,USER8,PKOCLOSE,...,0,WRKS,PACK,STNPACK-027,STNPACK-027-STG,eComm USA S321,D000000FG7AC,1,2021-11-02 08:58:55,0.0

In [14]:
# join with article departments data 
# note the mismatch between the title of the Article and Material foreign key column name 
pkoclose.rename(columns={"ARTICLE": "MATERIAL"}, inplace=True)
pkoclose = pkoclose.merge(articles, on="MATERIAL", how="left")

'''
articles data maps Material -> Department, we want to know department info if its available 
BUT we don't want to lose any packing records even if a match between data sets is not found 
THEREFORE we do a left join -- any packing transations with missing or unlisted material in articles 
would not be dropped 
'''
pkoclose["DEPARTMENT"].unique()

array(['Sweater', 'Jacket', 'Pant', 'Neckwear', 'T-shirt', 'Hosiery',
       'Face Masks', 'Headwear', 'Coat', 'Blouse', 'Dress', 'Handwear',
       'Skirt'], dtype=object)

In [15]:
# get the standard packing times
standards_long = standards.melt(var_name="DEPARTMENT_STANDARD", value_name="STANDARD_TIME")
standards_long["DEPARTMENT"] = standards_long["DEPARTMENT_STANDARD"].str.replace("_STANDARD", "", regex=False).str.title()

pkoclose = pkoclose.merge(standards_long[["DEPARTMENT", "STANDARD_TIME"]], on="DEPARTMENT", how="left")
pkoclose.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 378 entries, 0 to 377
Data columns (total 27 columns):
 #   Column                   Non-Null Count  Dtype
---  ------                   --------------  -----
 0   TRANSACTION_ID           378 non-null    object
 1   WAREHOUSE_ID             378 non-null    object
 2   TRANSACTION_TIMESTAMP    378 non-null    datetime64[ns]
 3   DATE                     378 non-null    datetime64[ns]
 4   HOUR                     378 non-null    int64
 5   ORDER_TYPE               378 non-null    object
 6   ORDER_TYPE_CATEGORY      378 non-null    object
 7   ORDER_CHANNEL            378 non-null    object
 8   USER_ID                  378 non-null    object
 9   ACTION_CODE              378 non-null    object
 10  ORDER_NUMBER             378 non-null    int64
 11  ORDER_LINE_ITEM          378 non-null    int64
 12  MATERIAL                 378 non-null    object
 13  DEVICE_CODE              378 non-null    object
 14  SHIP_LINE_ID             378 non-null    object
 15  GIFT_FLAG                378 non-null    object
 16  FROM_AREA_CODE           378 non-null    object
 17  TO_AREA_CODE             378 non-null    object
 18  FROM_STORAGE_LOCATION    378 non-null    object
 19  TO_STORAGE_LOCATION      378 non-null    object
 20  ORDER_CATEGORY           378 non-null    object
 21  INVENTORY_DETAIL_NUMBER  378 non-null    object
 22  QUANTITY                 378 non-null    object
 23  PREV_TIMESTAMP           369 non-null    datetime64[ns]
 24  ACTUAL_TIME              369 non-null    float64
 25  DEPARTMENT               378 non-null    object
 26  STANDARD_TIME            294 non-null    float64
dtypes: datetime64[ns](3), float64(2), int64(3), object(19)
memory usage: 79.9+ KB

## KPI Calculations 
---

In [16]:
# get the expected time for packing using the given standard time 
pkoclose["EXPECTED_TIME"] = pkoclose["STANDARD_TIME"] * pkoclose["QUANTITY"]

print("Expected Packing Time Excerpt")
pkoclose[["QUANTITY", "STANDARD_TIME", "EXPECTED_TIME"]].head()

# why are there some NaN values? What does that mean?

Expected Packing Time Excerpt

  QUANTITY  STANDARD_TIME EXPECTED_TIME
0        1          30.02         30.02
1        1          38.01         38.01
2        1          30.02         30.02
3        1          18.67         18.67
4        1          25.83         25.83

In [19]:
# get packing efficiency KPI 
# Expected / Actual 

# NOTE some of the ACTUAL_TIME values are zero -> will skip these and replace with NaN

mask = pkoclose["ACTUAL_TIME"] > 0
pkoclose.loc[mask, "PACKING_EFFICIENCY_KPI"] = pkoclose.loc[mask, "EXPECTED_TIME"] / pkoclose.loc[mask, "ACTUAL_TIME"]

pkoclose.loc[pkoclose["ACTUAL_TIME"] == 0, "PACKING_EFFICIENCY_KPI"] = np.nan

pkoclose["EF